/*********************************************** TYPOGRAPHY AND COLORS ********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/*********************************************** TYPOGRAPHY AND COLORS ********************************************************/
:root {
    /******************* COLORS ********************/
    --boston-blue: #4590C7;
    --martinique: #2E3153;
    --main-white: #FFFFFF;
    --picon-blue: #4FA6E5;
    --ebony-clay: #232337;
    --main-gray: #9D9D9D;
    --link-color: #ffffffcc;
    --bg-feature: #ffffff26;

    /**************** FONT SIZES *******************/
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --text-5xl: 3rem; /* 48px */
    --text-6xl: 4rem; /* 64px */
    --text-7xl: 5rem; /* 80px */
    --text-8xl: 7.5rem; /* 120px */
}

/*********************************************** GENERAL RULES ********************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.3px;
}

body {
    font-family: 'Lexend';
    font-size: var(--text-base);
    background: var(--martinique);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*********************************************** HEADER - NAVIGATION ********************************************************/
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    height: 60px;
}

header {
    margin-bottom: 27px;
    position: sticky;
    top: 0;
    z-index: 30;
    height: 60px;
    backdrop-filter: blur(50px);
    --webkit-backdrop-filter: blur(50px)
}

#nav-menu {
    display: none;
    align-items: flex-start;
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--main-white);
    letter-spacing: -0.4%;
    z-index: 999;
    width: 160px;
    height: 160px;
    padding: 12px;
    background: var(--ebony-clay);
    border-radius: 12px;
    position: relative;
    top: 100px;
    left: 42px;
}

.nav-link {
    color: var(--main-white);
    line-height: 25px;
}

.nav-link:hover {
    color: var(--boston-blue);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0.5;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
  }
  
.overlay.show {
    opacity: 1;
    visibility: visible;
}

#logo h3 {
    color: var(--main-white);
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 28px;
}

/*********************************************** MAIN CONTENT ********************************************************/
main {
    padding-inline: 16px;
    width: 100%;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/*********************************************** HERO SECTION ********************************************************/

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.hero-block-text h1 {
    padding: 5.27px 14px;
    text-align: center;
    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--main-white);
    line-height: 45px;
    margin-bottom: 12px;
    padding-inline: 12px;
}

.hero-block-text p {
    text-align: center;
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--main-white);
    line-height: 26px;
    opacity: 0.7;
    padding-inline: 12px;
}

.app-download {
    padding-top: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.download-btn {
    margin-block: 10px;
    padding: 12px 30px;
    width: 350px;
    height: 60px;
    background: var(--picon-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 100px;
}

.download-btn span {
    text-align: center;
    font-size: var(--text-2xl);
    color: var(--main-white);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.4px;
}

.hero-block-image {
    margin-top: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/*********************************************** OVERVIEW SECTION ********************************************************/
.overview-section, .features-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.overview-block, .feature-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    width: 100%;
    height: 384px;
    background: var(--picon-blue);
    border-radius: 12px;
}

.overview-block h2, .feature-block h2 {
    font-size: var(--text-2xl);
    font-weight: 500;
    font-style: normal;
    color: var(--main-white);
    text-align: center;
    line-height: 34px;
    letter-spacing: -0.4%;
    padding-top: 32px;
    padding-bottom: 24px;
}

.overview-image {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;
}

.overview-block:nth-child(2) .overview-image {
    justify-content: center;
    align-items: center;
}

/*********************************************** FEATURES SECTION ********************************************************/
.feature-block {
    background: var(--bg-feature);
    padding: 38px 21px;
    height: max-content;
}

.feature-image {
    padding-top: 12px;
}

.feature-block h2 {
    padding-top: 24px;
    line-height: 32px;
}

.feature-block p {
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--link-color);
    text-align: center;
    line-height: 26px;
    letter-spacing: -0.4%;
    padding-block: 24px;
}

/*********************************************** DOWNLOAD SECTION ********************************************************/
.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 14px;
    gap: 12px;
}

.download-app h2 {
    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--main-white);
    text-align: center;
    padding-top: 24px;
    line-height: 32px;
}

.download-app p {
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--link-color);
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.4%;
    padding-inline: 2px;
    padding-bottom: 24px;
}

.download-app .download-btn {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--main-white);
    line-height: 24px;
    letter-spacing: -0.4%;
    text-align: center;
    padding: 12px 30px;
}

/*********************************************** FOOTER ********************************************************/
footer {
    width: 100%;
    background: var(--ebony-clay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;padding: 54px 56px;
    padding: 51.92px 53.85px;
    color: var(--main-white);
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 41px;
}

.footer-top {
    width: 100%;
    height: 100px;
}

.footer-heading {
    display: flex;
    height: 110px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    gap: 12px;
}

.footer-heading h2 {
    font-size: var(--text-4xl);
    font-weight: 500;
    line-height: 48px;
}

.footer-heading p {
    font-size: var(--text-lg);
    font-weight: 400;
    line-height: 25px;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-self: stretch;
    gap: 28px;
}

.links-container {
    width: 270px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: first baseline;
    gap: 8px;
}

.links-container h3 {
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 25px;
}

.links-container ul {
    direction: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.links-container ul li {
    padding-top: 12px;
}

.links-container ul li a {
    font-size: var(--text-base);
    color: var(--link-color);
    font-weight: 400;
    line-height: 25px;
}

.links-container:last-of-type {
    height: 24px;
    padding: 20px 0;
}

.links-container:last-of-type a {
    color: var(--main-white);
}