/*********************************************** TYPOGRAPHY AND COLORS ********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/*********************************************** TYPOGRAPHY AND COLORS ********************************************************/
:root {
    /******************* COLORS ********************/
    --boston-blue: #4590C7;
    --martinique: #2E3153;
    --main-white: #FFFFFF;
    --picon-blue: #4FA6E5;
    --ebony-clay: #232337;
    --main-gray: #9D9D9D;
    --link-color: #ffffffcc;
    --bg-feature: #ffffff26;

    /**************** FONT SIZES *******************/
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.125rem; /* 34px */
    --text-4xxl: 2.625rem; /* 42px */
    --text-5xl: 3.125rem; /* 50px */
    --text-5xxl: 3.375rem; /* 54px */
    --text-6xl: 3.75rem; /* 60px */
    --text-7xl: 5rem; /* 80px */
}

/*********************************************** GENERAL RULES ********************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.3px;
}

body {
    font-family: 'Lexend';
    font-size: var(--text-base);
    background: var(--martinique);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*********************************************** HEADER - NAVIGATION ********************************************************/
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    height: 60px;
}

header {
    margin-bottom: 27px;
    position: sticky;
    top: 0;
    z-index: 30;
    height: 60px;
    backdrop-filter: blur(50px);
    --webkit-backdrop-filter: blur(50px)
}

#nav-menu {
    display: none;
    align-items: flex-start;
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--main-white);
    letter-spacing: -0.4%;
    z-index: 999;
    width: 160px;
    height: 160px;
    padding: 12px;
    background: var(--ebony-clay);
    border-radius: 12px;
    position: relative;
    top: 100px;
    left: 42px;
}

#toggle-btn {
    cursor: pointer;
}

.nav-link {
    color: var(--main-white);
    line-height: 25px;
}

.nav-link:hover {
    color: var(--boston-blue);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0.5;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
  }
  
.overlay.show {
    opacity: 1;
    visibility: visible;
}

#logo h3 {
    color: var(--main-white);
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 28px;
}

/*********************************************** MAIN CONTENT ********************************************************/
main {
    padding-inline: 16px;
    width: 100%;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/*********************************************** HERO SECTION ********************************************************/

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.hero-block-text h1 {
    padding: 5.27px 14px;
    text-align: center;
    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--main-white);
    line-height: 45px;
    margin-bottom: 12px;
    padding-inline: 12px;
}

.hero-block-text p {
    text-align: center;
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--main-white);
    line-height: 26px;
    opacity: 0.8;
    padding-inline: 12px;
}

.app-download {
    padding-top: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.download-btn {
    margin-block: 10px;
    padding: 12px 30px;
    width: 350px;
    height: 60px;
    background: var(--picon-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 100px;
}

.download-btn span {
    text-align: center;
    font-size: var(--text-2xl);
    color: var(--main-white);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.4px;
}

.hero-block-image {
    margin-top: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/*********************************************** OVERVIEW SECTION ********************************************************/
.overview-section, .features-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.overview-block, .feature-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    width: 100%;
    height: 384px;
    background: var(--boston-blue);
    border-radius: 12px;
}

.overview-block h2, .feature-block h2 {
    font-size: var(--text-2xl);
    font-weight: 500;
    font-style: normal;
    color: var(--main-white);
    text-align: center;
    line-height: 34px;
    letter-spacing: -0.4%;
    padding-top: 32px;
    padding-bottom: 24px;
}

.overview-image {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;
}

.overview-block:nth-child(2) .overview-image {
    justify-content: center;
    align-items: center;
}

/*********************************************** FINANCIAL SERENITY SECTION ********************************************************/
.financial-serenity {
    padding: 64px 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.financial-serenity h2 {
    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--main-white);
    line-height: 45px;
    text-align: center;
    padding-bottom: 7px;
    padding-inline: 2px;
}

.financial-serenity p {
    font-size: var(--text-base);
    font-weight: 400;
    line-height: 26px;
    color: var(--main-white);
    opacity: 0.7;
    text-align: center;
    padding-bottom: 24px;
    padding-inline: 12px;
}

/*********************************************** FEATURES SECTION ********************************************************/
.feature-block {
    background: var(--bg-feature);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 21px;
    height: max-content;
}

.feature-image {
    padding-top: 12px;
}

.feature-block h2 {
    padding-top: 24px;
    line-height: 32px;
    font-weight: 500;
}

.feature-block p {
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--link-color);
    text-align: center;
    line-height: 26px;
    letter-spacing: -0.4%;
    padding-block: 24px;
}

/*********************************************** DOWNLOAD SECTION ********************************************************/
.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 14px;
    gap: 12px;
}

.download-app h2 {
    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--main-white);
    text-align: center;
    padding-top: 24px;
    line-height: 32px;
}

.download-app p {
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--link-color);
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.4%;
    padding-inline: 2px;
    padding-bottom: 24px;
}

.download-app .download-btn {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--main-white);
    line-height: 24px;
    letter-spacing: -0.4%;
    text-align: center;
    padding: 12px 30px;
}

/*********************************************** FOOTER ********************************************************/
footer {
    width: 100%;
    background: var(--ebony-clay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;padding: 54px 56px;
    padding: 51.92px 53.85px;
    color: var(--main-white);
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 41px;
}

.footer-top {
    width: 100%;
    height: 100px;
}

.footer-heading {
    display: flex;
    height: 110px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    gap: 12px;
}

.footer-heading h2 {
    font-size: var(--text-4xl);
    font-weight: 500;
    line-height: 48px;
}

.footer-heading p {
    font-size: var(--text-lg);
    font-weight: 400;
    line-height: 25px;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-self: stretch;
    gap: 28px;
}

.links-container {
    width: 270px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: first baseline;
    gap: 8px;
}

.links-container h3 {
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 25px;
}

.links-container ul {
    direction: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.links-container ul li {
    padding-top: 12px;
}

.links-container ul li a {
    font-size: var(--text-base);
    color: var(--link-color);
    font-weight: 400;
    line-height: 25px;
}

.links-container:last-of-type {
    height: 24px;
    padding: 20px 0;
}

.links-container:last-of-type a {
    color: var(--main-white);
}

/********************************************** RESPONSIVE DESIGN *****************************************/
@media screen and (min-width:768px) {
    /****************** HERO SECTION ******************/
    .hero-section h1{
        padding-inline: 16px;
        padding-top: 16px;
    }

    .hero-section p {
        padding-inline: 12px;
    }

    .app-download {
        gap: 32px;
        padding-top: 26px;
    }

    .download-btn {
        width: 194px;
    }

    .hero-block-image {
        margin-top: 0px;
    }

    /***************** OVERVIEW and FEATURES SECTION ***************/
    .overview-section {
        margin-top: 32px;
        padding-top: 16px;
    }

    .overview-block, .feature-block {
        border-radius: 50px;
    }

    .overview-block h2{
        padding-block: 32px 24px;
        text-wrap: nowrap;
    }

    .feature-block h2 {
        font-size: var(--text-4xl);
    }

    /******************** FINANCIAL SERENITY SECTION *********************/
    .financial-serenity {
        padding: 32px 40px;
    }

    .financial-serenity h2 {
        padding-inline: 100px;
        text-wrap: wrap;
    }

    .financial-serenity p {
        padding-inline: 64px;
        text-wrap: wrap;
    }

    /******************** DOWNLOAD APP SECTION *********************/
    .download-app {
        padding: 24px 100px;
    }

    footer {
        padding: 84px 190px;
    }

    .footer-links {
        align-self: stretch;
    }

    .links-container {
        width: auto;
    }
}

@media screen and (min-width:1024px) {
    main {
        padding-inline: 100px;
    }

    /**************************** OVERVIEW SECTION **********************/
    .overview-section {
        row-gap: 64px;
    }
    .overview-block {
        height: 486px;
        gap: 64px;
    }

    .overview-image img {
        overflow: hidden;
        transform: scale(1.5);
    }

    .overview-image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        max-height: 390px;
        position: relative;
    }

    .overview-block:first-child .overview-image img {
        position: absolute;
        bottom: 62px;
    }

    .overview-block:last-child .overview-image img {
        position: absolute;
        bottom: 61px;
    }
    .overview-block h2 {
        font-size: var(--text-3xl);
    }

    /**************************** FINANCIAL SERENETY SECTION **********************/
    .financial-serenity p {
        font-size: var(--text-2xl);
        margin-top: 24px;
    }

    /**************************** FEATURES SECTION **********************/
    .feature-block {
        padding-inline: 64px;
    }
    .feature-block p {
        font-size: var(--text-2xl);
        padding-bottom: 48px;
    }

    /**************************** DOAWNLOAD APP **********************/
    .download-app {
        padding-block: 40px;
    }

    .download-app h2 {
        padding-bottom: 24px;
    }

    .download-app p {
        padding-bottom: 48px;
        padding-inline: 21px;
        line-height: 38px;
        font-size: var(--text-2xl);
    }

    .download-btn {
        font-size: var(--text-2xl);
    }

    /********************************** FOOTER ************************/
    .footer-container {
        row-gap: 8px;
    }
    .footer-links {
        width: auto;
        column-gap: 64px;
    }
}

@media screen and (min-width:1440px) {
    main {
        padding-inline: 190px;
    }

    /**************************** HERO SECTION **********************/
    .hero-section {
        flex-wrap: nowrap;
        width: 1060px;
    }
    .hero-block-image {
        width: 25%;
    }

    .hero-block-text {
        width: 75%;
    }

    .hero-block-text h1 {
        text-align: left;
        font-size: var(--text-6xl);
        line-height: 80px;
        align-self: stretch;
    }

    .hero-block-text p {
        text-align: left;
        font-size: var(--text-4xl);
        line-height: 50px;
        align-self: stretch;
    }

    .app-download {
        justify-content: left;
    }

    .overview-block {
        height: 548.35px;
    }

    .overview-block h2 {
        margin: 70px 0 40px;
        font-size: var(--text-4xxl);
    }

    .overview-block:first-child .overview-image {
        width: 529px;
        height: 380px;
        transform: scale(0.65);
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        bottom: -30px;
    }

    .financial-serenity {
        padding: 110px 300px;
    }

    .financial-serenity h2 {
        padding-bottom: 36px;
        padding-inline: 2.88px;
        font-size: var(--text-5xl);
        line-height: 70px;
        height: 176px;
    }

    .financial-serenity p {
        padding-bottom: 36px;
        padding-inline: 10.5px;
        font-size: var(--text-4xl);
        line-height: 50px;
        height: 236px;
    }

    .feature-block {
        height: 613px;
        padding: 66px 44px;
    }

    .feature-block h2 {
        margin: 56px 0 0;
        font-size: var(--text-5xxl);
    }

    .feature-block p {
        margin: 32px 0 0;
        font-size: var(--text-4xl);
        line-height: 54px;
    }

    .download-app {
        padding: 110px 300px;
    }

    .download-app h2 {
        font-size: var(--text-5xl);
        line-height: 70px;
        margin: 0 0 36px;
    }

    .download-app p {
        font-size: var(--text-4xl);
        line-height: 50px;
        margin: 0 0 36px;
    }

    footer {
        padding: 84px 190px;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 72px;
    }

    .footer-top {
        width: 35%;
    }
}